.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    filter: grayscale(100%);
    border: 3px solid;
    border-radius: 10px;
}

footer {
    text-align: center;
    font-weight: bold;
}

.center-table {
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 2px solid green;
    border-collapse: collapse;
    padding: 5px;
}

th {
    background-color: gold;
    color: darkgreen;
}

.container {
    position: relative;
    text-align: center;
    color: black;
    font-weight: bold;
}

.bottom-center {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
    background-color: darkgreen;
}

li {
    float: left;
}

li a {
    display: block;
    color: gold;
    text-align: center;
    padding: 14px 16px;
}

li a:hover {
    background-color: grey;
}

.row {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.column {
    text-align: left;
    width: 50%;
    height: 100px;
    padding: 10px;
  }

.column h3 {
    color: gold;
}

.column p {
    color: white;
}

h2 {
    text-align: center;
}

h2:hover {
    background-color: darkred;
    color: white;
    width: 100%;
    text-align: center;
}

.container1 {
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.text {
    color: red;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 5s ease;
    background-color:black;
  }

  .container1:hover .overlay {
    opacity: 1;
  }
